<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Continue With Reddit</title>
</head>
<body>
    <a href="{{ redit_auth_uri }}">Authenticate with reddit</a>
</body>
</html>